@import "./utils/variables";
@import "./layout/header";
@import "./layout/button";
@import "./layout/footer";
@import "./components/restaurantLocation";
@import "./components/banner";
@import "./components/explaination";
@import "./components/restaurantList";

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  line-height: normal;
}
figure {
  margin: auto;
}
