.linearGradientBtn {
  width: 200px;
  height: 45px;
  border-radius: 25px;
  border: none;
  background: $colour-linearGradientBtn;
  color: white;
  font-weight: 600;
  &:hover {
    @include box-shadow-hover;
    opacity: 0.8;
  }
}
