.linearGradientBtn {
  width: 200px;
  height: 45px;
  margin-top: 30px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(177deg, $colour-secondary, $colour-primary);
  color: white;
  font-weight: 600;
}
