.restaurantMenu {
  background-color: $colour-indexBackground;
  border-radius: 40px 40px 0 0;
  padding: 20px;
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    min-width: 100%;
    h1 {
      font-family: "Shrikhand", cursive;
      font-size: 1.7em;
      font-weight: 400;
      margin: 0;
    }
    i {
      font-size: 1.6em;
      margin-right: 10px;
      color: black;
    }
  }
  h2 {
    font-size: 1em;
    font-weight: 100;
    margin: 0;
  }
  .titleSeparation {
    width: 40px;
    height: 3px;
    background-color: $colour-tertiary;
    margin-top: 5px;
  }
  .restaurantMenu_category {
    margin: 20px 0;
    width: 100%;
    @media screen and (min-width: $breakpoint-desktop) {
      width: 30%;
    }
  }
  .linearGradientBtn {
    margin: 20px 0;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.menuItem {
  width: 100%;
  height: 57px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  align-items: flex-end;
  @include box-shadow;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;

  .itemName {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 10px 0 10px 10px;
    flex: 1 1 auto;
    box-sizing: border-box;
    overflow: hidden;
  }
  h3,
  p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;
    font-size: 1.1em;
  }
  p {
    font-size: 0.9em;
  }
  .itemPrice {
    padding-bottom: 10px;
    flex: 0 0 auto;
    font-weight: 900;
  }

  .validationAnimation {
    width: 0px;
    height: 100%;
    background-color: $colour-tertiary;
    border-radius: 0 10px 10px 0;
    display: flex;
    overflow: hidden;
    flex: 0 0 auto;
    i {
      color: white;
      font-size: 1.3em;
      margin: auto;
      transform: rotate(360deg);
    }
  }
  &:hover .validationAnimation {
    transition: width 300ms ease-in;
    width: 50px;
    i {
      transform: rotate(0deg);
      transition: transform 300ms ease-in-out;
    }
  }
}

@keyframes fadein {
  from {
    transform-origin: top;
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}
$anim-dur: 2000ms;
$num-section: 3;
$anim-delay: $anim-dur/$num-section;
.restaurantMenu_category {
  animation: fadein $anim-dur both;
  @for $i from 1 through $num-section {
    &--#{$i} {
      animation-delay: $anim-delay * $i;
    }
  }
}
