body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  line-height: normal;
}

figure {
  margin: auto;
}

main {
  max-width: 1200px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}

header {
  display: flex;
  height: 60px;
  box-shadow: 0px 2px 5px 1px grey;
  background-color: white;
}

.logo {
  margin-top: 25px;
  width: 150px;
}

.linearGradientBtn {
  width: 200px;
  height: 45px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(177deg, #ff79da, #9356dc);
  color: white;
  font-weight: 600;
}

footer {
  background-color: #3b3a3a;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0 0 50px 20px;
}
@media screen and (min-width: 700px) {
  footer {
    text-align: center;
  }
}
footer p {
  font-family: "Shrikhand", cursive;
}
footer a {
  text-decoration: none;
  color: unset;
  margin: 5px 0;
}
footer i {
  padding-right: 8px;
}
footer :nth-child(2) i {
  padding-right: 13px;
}

.restaurantMenu {
  background-color: #eee8e8;
  border-radius: 40px 40px 0 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurantMenu .titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
.restaurantMenu .titleWrapper h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.7em;
  font-weight: 400;
  margin: 0;
}
.restaurantMenu .titleWrapper i {
  font-size: 1.6em;
  padding-right: 10px;
}
.restaurantMenu h2 {
  font-size: 1em;
  font-weight: 100;
  margin: 0;
}
.restaurantMenu .titleSeparation {
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  margin-top: 5px;
}
.restaurantMenu section {
  margin: 20px 0;
  width: 100%;
}
.restaurantMenu .linearGradientBtn {
  margin: 20px 0;
}

.menuItem {
  width: 100%;
  height: 57px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 2px 10px lightgrey;
  border-radius: 10px;
  margin-top: 20px;
}
.menuItem .itemName {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 10px 0 10px 10px;
  flex: 1 1 auto;
  box-sizing: border-box;
  overflow: hidden;
}
.menuItem h3,
.menuItem p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 10px;
  font-size: 1.1em;
}
.menuItem p {
  font-size: 0.9em;
}
.menuItem .itemPrice {
  padding-bottom: 10px;
  flex: 0 0 auto;
  font-weight: 900;
}
.menuItem .validationAnimation {
  width: 0px;
  height: 100%;
  background-color: #99e2d0;
  border-radius: 0 10px 10px 0;
  display: flex;
  overflow: hidden;
  flex: 0 0 auto;
}
.menuItem .validationAnimation i {
  color: white;
  font-size: 1.8em;
  margin: auto;
  transform: rotate(360deg);
}
.menuItem:hover .validationAnimation {
  transition: width 300ms ease-in;
  width: 60px;
}
.menuItem:hover .validationAnimation i {
  transform: rotate(0deg);
  transition: transform 300ms ease-in-out;
}

.locationSelector {
  background-color: rgba(211, 206, 206, 0.589);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.citySelector {
  background-color: unset;
  color: black;
  padding-left: 15px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  flex: none;
  width: 140px;
  box-sizing: border-box;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #eee8e8;
  padding: 40px 0;
}
.banner h1 {
  margin: 0;
  font-weight: 900;
  padding: 0 40px 0 40px;
  font-size: 1.5em;
}
.banner h2 {
  margin: 0;
  padding-top: 15px;
  color: #383737;
  font-weight: 100;
  font-size: 1em;
}

.explaination {
  margin: 50px 0;
  padding: 0 20px;
}
.explaination h1 {
  margin: 0;
  width: 100%;
}
@media screen and (min-width: 1000px) {
  .explaination {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.explainationSteps {
  display: flex;
  height: 60px;
  border-radius: 10px;
  margin: 25px 0;
  align-items: center;
  box-shadow: 0px 2px 10px lightgrey;
  background-color: #eee8e8;
}
.explainationSteps:hover {
  background-color: #ebd4f5;
}
.explainationSteps:hover i {
  color: #9356dc;
}
.explainationSteps i {
  padding: 0 20px;
  color: grey;
}
.explainationSteps p {
  font-size: 0.9em;
  font-weight: 500;
}
@media screen and (min-width: 700px) {
  .explainationSteps {
    width: 500px;
    margin: 25px auto;
  }
}
@media screen and (min-width: 1000px) {
  .explainationSteps {
    width: 30%;
    margin: 25px auto;
  }
}

.stepOrder {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  color: white;
  margin-left: -10px;
  font-size: 0.7em;
}

.restaurantList {
  background-color: #eee8e8;
  padding: 50px 20px;
  height: min-content;
  display: flex;
  flex-direction: column;
}
.restaurantList h1 {
  width: 100%;
  margin-top: 0;
}
@media screen and (min-width: 700px) {
  .restaurantList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .restaurantList {
    border-radius: 10px 10px 0 0;
  }
}

.restaurantItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: min-content;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 10px lightgrey;
  margin: 15px 0;
  position: relative;
}
.restaurantItem figure {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 150px;
}
.restaurantItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.restaurantItem h4,
.restaurantItem h5 {
  padding: 0;
  margin: 0;
}
.restaurantItem h5 {
  font-weight: 400;
}
.restaurantItem i {
  font-size: 1.5em;
  color: grey;
}
.restaurantItem .logoNew {
  width: 70px;
  height: 25px;
  background-color: #99e2d0;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 3px;
  color: green;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 700px) {
  .restaurantItem {
    width: 45%;
  }
}

.descriptionWrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  align-items: center;
}

.restaurantBanner {
  object-fit: cover;
  width: 100%;
  height: 175px;
}
.restaurantBanner img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
