body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  line-height: normal;
}

figure {
  margin: 0 auto;
}

main {
  max-width: 1200px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}

header {
  height: 70px;
  display: flex;
  box-shadow: 0px 2px 5px 1px grey;
  background-color: white;
}
header .headerWrapper {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  position: relative;
}
header a {
  position: absolute;
  font-size: 26px;
  top: 30px;
  left: 25px;
  color: black;
}
header figure {
  margin: 0 auto;
  width: 50%;
  max-width: 150px;
}

.logo {
  margin-top: 30px;
  width: 100%;
}

.linearGradientBtn {
  width: 200px;
  height: 45px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(177deg, #ff79da, #9356dc);
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.linearGradientBtn:hover {
  box-shadow: 0px 2px 10px 2px grey;
  opacity: 0.8;
}

.iconHeart {
  font-size: 1.5em;
  color: grey;
  position: relative;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.iconHeart::before {
  font: var(--fa-font-regular);
  content: "\f004";
}
.iconHeart:hover::after {
  transform: scale(1);
  transform-origin: center;
  transition: transform 400ms ease-in;
}
.iconHeart::after {
  font: var(--fa-font-solid);
  content: "\f004";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  top: 2px;
  color: #ff79da;
  z-index: 1;
  transform: scale(0);
}

footer {
  background-color: #3b3a3a;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0 0 50px 20px;
}
@media screen and (min-width: 600px) {
  footer {
    text-align: center;
  }
}
footer p {
  font-family: "Shrikhand", cursive;
}
footer a {
  text-decoration: none;
  color: unset;
  margin: 5px 0;
}
footer i {
  padding-right: 8px;
}
footer :nth-child(2) i {
  padding-right: 13px;
}

.restaurantMenu {
  background-color: #eee8e8;
  border-radius: 40px 40px 0 0;
  padding: 20px;
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurantMenu .titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  min-width: 100%;
}
.restaurantMenu .titleWrapper h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.7em;
  font-weight: 400;
  margin: 0;
}
.restaurantMenu .titleWrapper i {
  font-size: 1.6em;
  margin-right: 10px;
  color: black;
}
.restaurantMenu h2 {
  font-size: 1em;
  font-weight: 100;
  margin: 0;
}
.restaurantMenu .titleSeparation {
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  margin-top: 5px;
}
.restaurantMenu .restaurantMenu_category {
  margin: 20px 0;
  width: 100%;
}
@media screen and (min-width: 1000px) {
  .restaurantMenu .restaurantMenu_category {
    width: 30%;
  }
}
.restaurantMenu .linearGradientBtn {
  margin: 20px 0;
}
@media screen and (min-width: 1000px) {
  .restaurantMenu {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.menuItem {
  width: 100%;
  height: 57px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 2px 10px lightgrey;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
}
.menuItem .itemName {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 10px 0 10px 10px;
  flex: 1 1 auto;
  box-sizing: border-box;
  overflow: hidden;
}
.menuItem h3,
.menuItem p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 10px;
  font-size: 1.1em;
}
.menuItem p {
  font-size: 0.9em;
}
.menuItem .itemPrice {
  padding-bottom: 10px;
  flex: 0 0 auto;
  font-weight: 900;
}
.menuItem .validationAnimation {
  width: 0px;
  height: 100%;
  background-color: #99e2d0;
  border-radius: 0 10px 10px 0;
  display: flex;
  overflow: hidden;
  flex: 0 0 auto;
}
.menuItem .validationAnimation i {
  color: white;
  font-size: 1.3em;
  margin: auto;
  transform: rotate(360deg);
}
.menuItem:hover .validationAnimation {
  transition: width 300ms ease-in;
  width: 50px;
}
.menuItem:hover .validationAnimation i {
  transform: rotate(0deg);
  transition: transform 300ms ease-in-out;
}

@keyframes fadein {
  from {
    transform-origin: top;
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}
.restaurantMenu_category {
  animation: fadein 2000ms both;
}
.restaurantMenu_category--1 {
  animation-delay: 666.6666666667ms;
}
.restaurantMenu_category--2 {
  animation-delay: 1333.3333333333ms;
}
.restaurantMenu_category--3 {
  animation-delay: 2000ms;
}

.loaderWrapper {
  position: absolute;
  background-color: white;
  padding-top: 30vh;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  animation: loader 3s cubic-bezier(0.73, 0.02, 0.81, 0.02) forwards;
  z-index: 3;
}
.loaderWrapper p {
  position: absolute;
  top: 15vh;
  color: grey;
  font-family: "Shrikhand", cursive;
  font-size: 3vh;
}

@keyframes loader {
  0%, 95% {
    opacity: 1;
    z-index: 3;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.boule1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 200px;
  background-color: #9356dc;
  position: relative;
  animation: bouleVerte 1000ms cubic-bezier(0.26, 1.07, 0.64, 0.96) 0s 10 alternate;
  transform-origin: center -200px;
}
.boule1::before {
  position: absolute;
  content: "";
  top: -202px;
  left: 23.5px;
  width: 3px;
  height: 202px;
  background-color: grey;
}

.boule2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 200px;
  background-color: #ff79da;
  position: relative;
}
.boule2::before {
  position: absolute;
  content: "";
  top: -202px;
  left: 23.5px;
  width: 3px;
  height: 202px;
  background-color: grey;
}

.boule3 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 200px;
  background-color: #99e2d0;
  position: relative;
  animation: bouleBleue 1000ms cubic-bezier(0.26, 1.07, 0.64, 0.96) 0s 10 alternate;
  transform-origin: center -200px;
  animation-delay: 1000ms;
}
.boule3::before {
  position: absolute;
  content: "";
  top: -202px;
  left: 23.5px;
  width: 3px;
  height: 202px;
  background-color: grey;
}

@keyframes bouleVerte {
  0%, 50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
@keyframes bouleBleue {
  0%, 50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
.locationSelector {
  background-color: rgba(211, 206, 206, 0.589);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.citySelector {
  background-color: unset;
  color: black;
  padding-left: 15px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  flex: none;
  width: 140px;
  box-sizing: border-box;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #eee8e8;
  padding: 40px 0;
}
.banner h1 {
  margin: 0;
  font-weight: 900;
  padding: 0 40px 0 40px;
  font-size: 1.5em;
}
.banner h2 {
  margin: 0;
  padding-top: 15px;
  color: #383737;
  font-weight: 100;
  font-size: 1em;
}

.explaination {
  margin: 50px 0;
  padding: 0 20px;
}
.explaination h1 {
  margin: 0;
  width: 100%;
}
@media screen and (min-width: 1000px) {
  .explaination {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.explainationSteps {
  display: flex;
  height: 60px;
  border-radius: 10px;
  margin: 25px 0;
  align-items: center;
  box-shadow: 0px 2px 10px lightgrey;
  background-color: #eee8e8;
  position: relative;
  z-index: 1;
}
.explainationSteps:hover::after {
  opacity: 1;
  transition: opacity 300ms;
}
.explainationSteps:hover i {
  color: #9356dc;
}
.explainationSteps::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background-color: #ebd4f5;
  opacity: 0;
  z-index: -1;
  box-shadow: 0px 2px 10px 2px grey;
}
.explainationSteps i {
  padding: 0 20px;
  color: grey;
}
.explainationSteps p {
  font-size: 0.9em;
  font-weight: 500;
}
@media screen and (min-width: 600px) {
  .explainationSteps {
    width: 500px;
    margin: 25px auto;
  }
}
@media screen and (min-width: 1000px) {
  .explainationSteps {
    width: 30%;
    margin: 25px auto;
  }
}

.stepOrder {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  color: white;
  margin-left: -10px;
  font-size: 0.7em;
}

.restaurantList {
  background-color: #eee8e8;
  padding: 50px 20px;
  height: min-content;
  display: flex;
  flex-direction: column;
}
.restaurantList h1 {
  width: 100%;
  margin-top: 0;
}
@media screen and (min-width: 600px) {
  .restaurantList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1000px) {
  .restaurantList {
    border-radius: 10px 10px 0 0;
  }
}

.restaurantItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: min-content;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 10px lightgrey;
  margin: 15px 0;
  position: relative;
}
.restaurantItem:hover {
  box-shadow: 0px 2px 10px 2px grey;
}
.restaurantItem:hover img {
  opacity: 0.8;
}
.restaurantItem a {
  text-decoration: none;
  color: unset;
}
.restaurantItem figure {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 150px;
}
.restaurantItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.restaurantItem h4,
.restaurantItem h5 {
  padding: 0;
  margin: 0;
}
.restaurantItem h5 {
  font-weight: 400;
}
.restaurantItem .logoNew {
  width: 70px;
  height: 25px;
  background-color: #99e2d0;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 3px;
  color: green;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 600px) {
  .restaurantItem {
    width: 45%;
  }
}

.descriptionWrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  align-items: center;
}

.restaurantBanner {
  width: 100%;
  height: 175px;
}
@media screen and (min-width: 600px) {
  .restaurantBanner {
    height: 350px;
  }
}
@media screen and (min-width: 1000px) {
  .restaurantBanner {
    height: 500px;
  }
}
.restaurantBanner img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
