.explaination {
  margin: 50px 0;
  padding: 0 20px;
  h1 {
    margin: 0;
    width: 100%;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.explainationSteps {
  display: flex;
  height: 60px;
  border-radius: 10px;
  margin: 25px 0;
  align-items: center;
  @include box-shadow;
  background-color: $colour-indexBackground;
  position: relative;
  z-index: 1;

  &:hover {
    &::after {
      opacity: 1;
      transition: opacity 300ms;
    }
    i {
      color: $colour-primary;
    }
  }
  &::after {
    content: "";
    @include pseudo-elem;
    border-radius: 10px;
    background-color: rgb(235, 212, 245);
    opacity: 0;
    z-index: -1;
    @include box-shadow-hover;
  }

  i {
    padding: 0 20px;
    color: grey;
  }
  p {
    font-size: 0.9em;
    font-weight: 500;
  }
  @media screen and (min-width: $breakpoint-tab) {
    width: 500px;
    margin: 25px auto;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    width: 30%;
    margin: 25px auto;
  }
}

.stepOrder {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: $colour-primary;
  color: white;
  margin-left: -10px;
  font-size: 0.7em;
}
